---
import { SITE } from '@config';

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import CollectionList from '@components/CollectionList.astro';

const articles = await getCollection('articles', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const universityProjects = await getCollection('projects', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const work = await getCollection('work', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let allEntries = [...universityProjects, ...articles, ...work];

let featured = allEntries.filter((elem) => {
	return elem.data.featured.includes('noteworthy');
});
---

<Layout pageTitle={SITE.title} pageDescr={SITE.desc}>
	<main class="index-page color-text">
		<div class="hero--section color-text-low-contrast text text-large">
			<div class="hero--section-content-wrapper">
				<h1 class="">
					<span class="color-text">Hi, I'm Kai Magnus Müller.</span>
				</h1>
				<p>
					A UX/UI designer at <a href="https://www.kaiser-x.com">Kaiser X Labs</a>, working on applications
					for <a href="/work/epic-designing-internal-applications"> investment and finance</a>. I teach
					Interactive Communications Systems at <a href="https://www.hfg-gmuend.de">HfG Schwäbisch Gmünd</a>
					and developed Figma plugins like <a
						href="https://www.figma.com/community/plugin/1229905434435887252/">Tree Navigator</a
					> and <a href="https://www.figma.com/community/plugin/1289313190495880345">Icon Library Manager</a>.
				</p>
				<p>
					In my spare time, I am working on <a href="https://app.intersectionslab.com">Collections</a>, an
					experimental platform to explore how computers can help us think and create.
				</p>
			</div>
		</div>

		<!-- <aside class="quick-links">
			<a href="/project-timeline">
				<div class="link-card text-regular">
					<h2>Project Timeline Visualization</h2>
					<p class="color-text-low-contrast">A visual timeline of my past and current projects</p>
				</div>
			</a>
			<a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a>
			<a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a>
		</aside> -->

		<section>
			<!-- Featured means noteworthy -->
			<CollectionList title="Highlights" ariaDetails="Noteworthy projects and articles" entries={featured} />
		</section>

		<section>
			<!-- WORK -->
			<!-- <div class="insert-text color-text-low-contrast">
				<p class="">
					During my work at Syncier and Kaiser X Labs, I worked on a number of investment management
					applications for <a href="https://www.idsdata.com/solutions/de/esg/">IDS</a> as designer and design lead
					and was part of an in-house innovation lab.
				</p>
				<p>
					I also love to tinker, improve my workflow and make my MacBook work for me. Some of the results even
					made it here:
				</p>
			</div> -->
			<CollectionList title="Professional Work" ariaDetails="Professional projects" entries={work} />
		</section>
		<section>
			<!-- UNIVERSITY -->
			<p class="insert-text color-text-low-contrast">
				While studying, I wrote a bachelor thesis about <a href="projects/destinations"
					>building wayfinding systems</a
				>, designed a <a href="/projects/halo">browser built for research</a> and went to Japan.
			</p>
			<p class="insert-text color-text-low-contrast">
				I also prototyped an <a href="/projects/aralsea">interactive exhibit</a> during my time as a student and
				an extended version of it became part of the exhibition <a
					href="https://www.uebersee-museum.de/ausstellungen/sonderausstellungen/vorschau/100-prozent-baumwolle/"
					>100 Prozent Baumwolle</a
				> at Übersee-Museum Bremen.
			</p>
			<!-- https://archive.is/3R3EH -->
			<CollectionList title="University Projects" entries={universityProjects} />
		</section>
		<section>
			<!-- POSTS -->
			<!-- <p class="insert-text color-text-low-contrast">Sometimes I write about what's on my mind. Sometimes…</p> -->
			<CollectionList title="Writing" entries={articles} />
		</section>
	</main>
</Layout>
<style lang="scss">
	@import '../styles/_vars.scss';

	.hero--section {
		padding-top: clamp(4rem, 14vh, 8rem);
		max-width: 50ch;
	}

	.insert-text p,
	.insert-text {
		margin-block-start: 0.5rem;
		margin-block-end: 0.5rem;
	}

	section {
		margin-block-start: 4rem;
		max-width: 48ch;

		&:first-of-type {
			margin-block-start: 6rem;
		}
	}

	h1 {
		margin-bottom: 0.5em;
	}

	span.highlight-star {
		position: absolute;
		transform: translate(-110%, -20%);
	}

	.quick-links {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		gap: 2rem;
		margin-block: 6rem;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: revert;
			}
		}
	}

	.link-card {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		box-shadow: var(--card-shadow);
		// justify-content: space-between;

		border: 1px solid var(--color-card-border);
		background: var(--color-card-background);
		padding: 1rem;
		height: 100%;
		h2 {
			margin: 0;
		}
	}

	@media (max-width: $screen-md) {
		section {
			margin-top: 0;
		}
	}

	@media (max-width: $screen-sm) {
		.hero--section {
			display: flex;
			position: relative;
			align-items: end;
			padding-bottom: clamp(1rem, 4vw, 10rem);
			min-height: 100vh;
			min-height: 100svh;
		}
	}
</style>
