---
import { SITE } from '@config';

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import CollectionList from '@components/CollectionList.astro';
import InlineIcon from '../components/InlineIcon.astro';

const articles = await getCollection('articles', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const universityProjects = await getCollection('projects', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const work = await getCollection('work', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let allEntries = [...universityProjects, ...articles, ...work];

let featured = allEntries.filter((elem) => {
	return elem.data.featured.includes('noteworthy');
});
---

<Layout pageTitle={SITE.title} pageDescr={SITE.desc}>
	<Fragment slot="head">
		<link rel="preload" href="/kaimagnus-profile.jpeg" as="image" />
		<link rel="preload" href="/200-20-5-monochrome.png" as="image" />
		<link rel="dns-prefetch" href="https://cdn.kaimagnus.de" />
		<link rel="dns-prefetch" href="https://res.cloudinary.com" />
	</Fragment>

	<main class="index-page color-text">
		<div class="hero--section color-text-low-contrast text text-large">
			<div class="hero--section-content-wrapper">
				<h1>
					Hi, I'm <InlineIcon
						src="/kaimagnus-profile.jpeg"
						classList="avatar"
						alt="Kai Magnus Müller profile picture">Kai Magnus Müller</InlineIcon
					>,
				</h1>
				<p>
					a designer and hobby developer. After building a few Figma plugins, like <a
						href="https://www.figma.com/community/plugin/1229905434435887252/">Tree Navigator</a
					> and <a href="https://www.figma.com/community/plugin/1289313190495880345">Icon Library Manager</a>,
					I am currently working on how we can use real data to create better designs and prototypes.
				</p>
				<p>
					Whenever I get that creative itch, I am working on <a href="https://app.intersectionslab.com"
						>Collections</a
					>. An experimental platform for knowledge management to explore how computers can help us think and
					create.
				</p>
			</div>
		</div>

		<!-- <aside class="quick-links">
			<a href="/project-timeline">
				<div class="link-card text-regular">
					<h2>Project Timeline Visualization</h2>
					<p class="color-text-low-contrast">A visual timeline of my past and current projects</p>
				</div>
			</a>
			<a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a>
			<a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a>
		</aside> -->

		<section>
			<!-- Featured means noteworthy -->
			<CollectionList title="Highlights" ariaDetails="Noteworthy projects and articles" entries={featured} />
		</section>

		<section>
			<!-- WORK -->
			<!-- <div class="insert-text color-text-low-contrast">
                <p class="">
                    During my work at Syncier and Kaiser X Labs, I worked on a number of investment management
                    applications for <a href="https://www.idsdata.com/solutions/de/esg/">IDS</a> as designer and design lead
                    and was part of an in-house innovation lab.
                </p>
                <p>
                    I also love to tinker, improve my workflow and make my MacBook work for me. Some of the results even
                    made it here:
                </p>
            </div> -->
			<span class="insert-text">
				<p>
					As UI/UX Designer at <a href="https://www.kaiser-x.com">Kaiser X Labs</a>, I was leading design for <a
						href="/work/epic-designing-internal-applications">insurance and investment</a
					> applications and <a href="/work/grid-component-system">design systems</a>, and was part of our <a
						href="/work/omni-comms-tool-for-insurance-agents">in-house innovation lab</a
					>.</p
				>
				<p
					>Before that I spent some time at <a href="https://www.intuity.de/">Intuity</a> and <a
						href="https://web.archive.org/web/20181229164945/http://precious-forever.com/">Precious</a
					>, where I worked on fleet management applications and point of sale terminals. Currently, I also
					teach Interactive Communications Systems at <a href="https://www.hfg-gmuend.de"
						>HfG Schwäbisch Gmünd</a
					>.
				</p>
			</span>
			<CollectionList title="Professional Work" ariaDetails="Professional projects" entries={work} />
		</section>
		<section>
			<!-- UNIVERSITY -->
			<span class="insert-text">
				<p>
					While studying, I wrote a bachelor thesis about <a href="projects/destinations"
						>building wayfinding systems</a
					>, designed a <a href="/projects/halo">browser built for research</a> (which inspired <a
						href="https://app.intersectionslab.com">Collections</a
					>), and went to Japan.
				</p>
				<p>
					I also prototyped an <a href="/projects/aralsea">interactive exhibit</a> during my time as a student,
					and we later developed an extended version for the exhibition
					<a
						href="https://www.uebersee-museum.de/ausstellungen/sonderausstellungen/vorschau/100-prozent-baumwolle/"
						>100 Prozent Baumwolle</a
					> at Übersee-Museum Bremen.
				</p>
			</span>
			<!-- https://archive.is/3R3EH -->
			<CollectionList title="University Projects" entries={universityProjects} />
		</section>
		<section>
			<!-- POSTS -->
			<!-- <p class="insert-text color-text-low-contrast">Sometimes I write about what's on my mind. Sometimes…</p> -->
			<CollectionList title="Writing" entries={articles} />
		</section>
	</main>

	<style lang="scss">
		@use '../styles/vars.scss';

		.hero--section {
			padding-top: clamp(4rem, 12vh, 8rem);

			@media screen and (max-width: vars.$screen-lg) {
				padding-top: clamp(2rem, 8vh, 6rem);
			}

			max-width: 50ch;

			a {
				color: var(--text-color);
			}
		}

		section {
			margin-block-start: 4rem;
			max-width: 48ch;

			&:first-of-type {
				margin-block-start: 6rem;
			}

			.insert-text p {
				margin-block-start: 0.5rem;
				margin-block-end: 0.5rem;
				max-width: 46ch;
				color: var(--text-color-low-contrast);
			}
		}

		h1 {
			margin-bottom: 0.5em;
		}

		.quick-links {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
			gap: 2rem;
			margin-block: 6rem;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: revert;
				}
			}
		}

		.link-card {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
			box-shadow: var(--card-shadow);
			border: 1px solid var(--card-border-color);
			border-radius: var(--border-radius-medium);
			background: var(--card-bg-color);
			padding: 1rem;
			height: 100%;

			h2 {
				margin: 0;
			}

			&:hover {
				background-color: var(--bg-color-elev-1-hover);
			}
		}

		@media (max-width: vars.$screen-md) {
			section {
				&,
				&:first-of-type {
					margin-block-start: 4rem;
				}
			}
		}
	</style>
</Layout>
