---
import { CollectionEntry, getCollection } from 'astro:content';
import getSortedPosts from '@utils/getSortedPosts';
import slugify from '@utils/slugify';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const articleEntries = await getCollection('articles');
const projectEntries = await getCollection('projects');

let allEntries = [...projectEntries, ...articleEntries];
allEntries = allEntries.sort(
	(a, b) =>
		Math.floor(new Date(b.data.pubDatetime).getTime() / 1000) -
		Math.floor(new Date(a.data.pubDatetime).getTime() / 1000)
);

let featured = allEntries.filter((elem) => {
	console.log(elem);
	elem.featured === true;
});
---

<Layout title="Kai Magnus–">
	<main class="color-text-low-contrast text-large">
		<h1 class="">
			<span class="color-text">Hi, I’m Kai Magnus.</span>
		</h1>
		<p>
			A product designer at Syncier, working on human centered experiences and products.
			Previously, I spent some time at Intuity working for automotive companies and at
			precious design working for a CRM startup.
		</p>
		<p>
			While studying, I wrote a bachelor thesis about building wayfinding systems, designed a
			browser built for research, went to Japan and developed an award winning interactive
			exhibit.
		</p>
	</main>

	<section class="">
		<div class="post-list text-regular">
			<h2 class="color-text-low-contrast">Noteworthy</h2>
			<ul>
				{
					allEntries.map((articleEntry) => (
						<li class="">
							<a
								class="text-regular"
								href={`/${articleEntry.collection}/${articleEntry.slug}`}>
								{articleEntry.data.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>
		<div class="post-list text-regular">
			<h2 class="color-text-low-contrast">Noteworthy</h2>
			<ul>
				{
					featured.map((articleEntry) => (
						<li class="">
							<a
								class="text-regular"
								href={`/${articleEntry.collection}/${articleEntry.slug}`}>
								{articleEntry.data.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</section>
</Layout>
<style lang="scss">
	main {
		grid-column: span 6;
		margin-top: 128px;
	}

	section {
		grid-column: 1/-1;
		margin-top: 128px;
	}

	.post-list {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		h2 {
			margin: 3px 0;
		}

		a {
			color: var(--text-color);
			text-decoration: none;
		}
		li {
			margin: 3px 0;
		}
	}
</style>
