---
import { SITE } from '@config';

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import CollectionList from '@components/CollectionList.astro';

const articleEntries = await getCollection('articles', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const projectEntries = await getCollection('projects', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let allEntries = [...projectEntries, ...articleEntries];

let featured = allEntries.filter((elem) => {
	return elem.data.tags.includes('featured');
});

let work = allEntries.filter((elem) => {
	return elem.data.tags.includes('work');
});

let university = projectEntries.filter((elem) => {
	return elem.data.tags.includes('university project');
});

let articles = articleEntries;
---

<Layout pageTitle={SITE.title} pageDescr={SITE.desc}>
	<div class="index-page color-text">
		<main class="hero--section color-text-low-contrast text text-large">
			<h1 class="">
				<span class="color-text">Hi, I'm Kai Magnus.</span>
			</h1>
			<p>
				A UX/UI designer at <a href="https://www.kaiser-x.com">Kaiser X Labs</a>, working on new products for
				the insurance space. Currently, I teach Interactive Communications Systems at <a
					href="https://www.hfg-gmuend.de">HfG Schwäbisch Gmünd</a
				>
				and have recently released my <a href="https://www.figma.com/community/plugin/1229905434435887252/"
					>Tree Navigator</a
				> plugin for Figma.
			</p>
			<p>
				While studying, I wrote a bachelor thesis about <a href="projects/destinations"
					>building wayfinding systems</a
				>, designed a <a href="/projects/halo">browser built for research</a>, went to Japan and developed an <a
					href="/projects/aralsea">interactive exhibit</a
				>.
				<!-- An extended version of it made it to the <a
					href="https://www.uebersee-museum.de/ausstellungen/sonderausstellungen/vorschau/100-prozent-baumwolle/"
					>Überseemuseum Bremen</a
				>. -->
			</p>
		</main>
		<section>
			<CollectionList title="Noteworthy" ariaDetails="Noteworthy projects and articles" entries={featured} />
			<CollectionList title="Work" ariaDetails="Professional projects" entries={work} />
			<CollectionList title="University Projects" entries={university} />
			<CollectionList title="Posts" entries={articles} />
			<p class="position--relative">
				<span class="highlight-star" title="">*</span>These are definitely worth a visit!
			</p>
		</section>
	</div>
</Layout>
<style lang="scss">
	@import '../styles/_vars.scss';

	main {
		max-width: 46ch;
		margin-top: 8rem;
	}
	section {
		margin-top: 8rem;
	}

	h1 {
		margin-bottom: 0.5em;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	span.highlight-star {
		position: absolute;
		transform: translate(-110%, -20%);
	}

	@media (max-width: $screen-lg) {
		main {
			grid-column: 1/-1;
		}
	}
	@media (max-width: $screen-md) {
		main {
			margin-top: 64px;
		}

		section {
			margin-top: 64px;
		}
	}
</style>
