---
import { SITE } from '@config';

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import CollectionList from '@components/CollectionList.astro';
import InlineIcon from '../components/InlineIcon.astro';
import PageContentNav from '@components/PageContentNav.astro';

const articles = await getCollection('articles', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const universityProjects = await getCollection('projects', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const work = await getCollection('work', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let allEntries = [...universityProjects, ...articles, ...work];

let featured = allEntries.filter((elem) => {
	return elem.data.featured.includes('noteworthy');
});

const headings = [
	{ text: 'Start', depth: 1, slug: 'start' },
	{ text: 'Highlights', depth: 2, slug: 'highlights' },
	{ text: 'Professional Work', depth: 2, slug: 'work' },
	{ text: 'Writing', depth: 2, slug: 'writing' },
	{ text: 'University Projects', depth: 2, slug: 'projects' },
];
---

<Layout pageTitle={SITE.title} pageDescr={SITE.desc}>
	<Fragment slot="head">
		<link rel="preload" href="/kaimagnus-profile-2.jpg" as="image" />
		<link rel="preload" href="/200-20-5-monochrome.png" as="image" />
		<link rel="dns-prefetch" href="https://cdn.kaimagnus.de" />
		<link rel="dns-prefetch" href="https://res.cloudinary.com" />
	</Fragment>

	<PageContentNav {headings} />

	<main class="index-page color-text">
		<div class="hero--section color-text-low-contrast text text-large">
			<div class="hero--section-content-wrapper">
				<h1 class="color-text" id="start" data-toc-text="Start">
					Hi, I'm <InlineIcon
						src="/kaimagnus-profile-2.jpg"
						classList="avatar"
						alt="Kai Magnus Müller profile picture">Kai Magnus Müller</InlineIcon
					>,
				</h1>
				<p>
					a product designer and developer. At <a href="https://www.kaiser-x.com">Kaiser X Labs (Allianz)</a>,
					I was leading design for <a href="/work/epic-designing-internal-applications"
						>insurance and investment</a
					>
					applications, <a href="/work/grid-component-system">design systems</a>, and was part of our <a
						href="/work/omni-comms-tool-for-insurance-agents">in-house innovation lab</a
					>.</p
				>
				<p
					>After building a few Figma plugins, like <a
						href="https://www.figma.com/community/plugin/1229905434435887252/">Tree Navigator</a
					> and <a href="https://www.figma.com/community/plugin/1289313190495880345">Icon Library Manager</a>,
					I just released <a href="https://intersectionslab.com/contentkit">ContentKit</a>, a new plugin to
					insert content and automate prototypes.
				</p>
			</div>
		</div>

		<!-- <aside class="quick-links">
			<a href="/project-timeline">
				<div class="link-card text-regular">
					<h2>Project Timeline Visualization</h2>
					<p class="color-text-low-contrast">A visual timeline of my past and current projects</p>
				</div>
			</a>
			<a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a>
			<a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a>
		</aside> -->

		<section>
			<!-- Featured means noteworthy -->
			<CollectionList
				id="highlights"
				title="Highlights"
				ariaDetails="Noteworthy projects and articles"
				entries={featured}
			/>
		</section>

		<section>
			<!-- WORK -->
			<!-- <div class="insert-text color-text-low-contrast">
                <p class="">
                    During my work at Syncier and Kaiser X Labs, I worked on a number of investment management
                    applications for <a href="https://www.idsdata.com/solutions/de/esg/">IDS</a> as designer and design lead
                    and was part of an in-house innovation lab.
                </p>
                <p>
                    I also love to tinker, improve my workflow and make my MacBook work for me. Some of the results even
                    made it here:
                </p>
            </div> -->
			<span class="insert-text">
				<p
					>Before Kaiser X Labs, I spent some time at <a href="https://www.intuity.de/">Intuity</a> and <a
						href="https://web.archive.org/web/20181229164945/http://precious-forever.com/">Precious</a
					>, where I worked on fleet management applications and point of sale terminals. Currently, I also
					teach Interactive Communications Systems at <a href="https://www.hfg-gmuend.de"
						>HfG Schwäbisch Gmünd</a
					>.
				</p>
				<p>
					Whenever I get that creative itch, I am working on <a
						href="https://collections.intersectionslab.com/">Collections</a
					>. An experimental platform for knowledge management to explore how computers can help us think and
					create.
				</p>
			</span>
			<CollectionList id="work" title="Professional Work" ariaDetails="Professional projects" entries={work} />
		</section>
		<section>
			<!-- POSTS -->
			<!-- <p class="insert-text color-text-low-contrast">Sometimes I write about what's on my mind. Sometimes…</p> -->
			<CollectionList id="writing" title="Writing" entries={articles} />
		</section>
		<section>
			<!-- UNIVERSITY -->
			<span class="insert-text">
				<p>
					While studying, I wrote a bachelor thesis about <a href="projects/destinations"
						>building wayfinding systems</a
					>, designed a <a href="/projects/halo">browser built for research</a> (which inspired <a
						href="https://app.intersectionslab.com">Collections</a
					>), and went to Japan.
				</p>
				<p>
					I also prototyped an <a href="/projects/aralsea">interactive exhibit</a> during my time as a student,
					and we later developed an extended version for the exhibition
					<a
						href="https://www.uebersee-museum.de/ausstellungen/sonderausstellungen/vorschau/100-prozent-baumwolle/"
						>100 Prozent Baumwolle</a
					> at Übersee-Museum Bremen.
				</p>
			</span>
			<!-- https://archive.is/3R3EH -->
			<CollectionList id="projects" title="University Projects" entries={universityProjects} />
		</section>
	</main>

	<style lang="css">
		.hero--section {
			display: flex;
			align-items: center;
			margin-block-end: -3.5rem;
			max-width: 50ch;
			min-height: 100vh;
		}

		.hero--section-content-wrapper {
			padding-block: clamp(4rem, 12vh, 8rem);
		}

		section {
			margin-block-start: 8rem;
			max-width: 50ch;
		}

		section:first-of-type {
			margin-block-start: 0;
		}

		section .insert-text p {
			margin-block-start: 0.5rem;
			margin-block-end: 0.5rem;
			color: var(--text-color-low-contrast);
		}

		h1 {
			margin-bottom: 0.5em;
		}

		@media (max-width: 768px) {
			section {
				margin-block-start: 6rem;
			}

			section:first-of-type {
				margin-block-start: 0rem;
			}
		}
	</style>
</Layout>
