---
import { SITE } from '@config';
import '@styles/styles.scss';

import { CollectionEntry, getCollection } from 'astro:content';
import getSortedPosts from '@utils/getSortedPosts';
import slugify from '@utils/slugify';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CollectionList from '@components/CollectionList.astro';

const articleEntries = await getCollection('articles');
const projectEntries = await getCollection('projects');

let allEntries = [...projectEntries, ...articleEntries];
allEntries = allEntries.sort(
	(a, b) =>
		Math.floor(new Date(b.data.pubDatetime).getTime() / 1000) -
		Math.floor(new Date(a.data.pubDatetime).getTime() / 1000)
);

let featured = allEntries.filter((elem) => {
	return elem.data.tags.includes('featured');
});

let university = allEntries.filter((elem) => {
	return elem.data.tags.includes('university project');
});
---

<Layout title={SITE.title}>
	<main class="color-text-low-contrast text text-large">
		<h1 class="">
			<span class="color-text">Hi, I’m Kai Magnus.</span>
		</h1>
		<p>
			A product designer at <a href="https://www.kaiser-x.com">Kaiser X Labs</a>, working on
			human centered experiences and products. Previously, I spent some time at <a
				href="https://www.intuity.de">Intuity</a
			> working for automotive companies and at <a href="https://www.precious-forever.com/"
				>precious design</a
			> working for a CRM startup.
		</p>
		<p>
			While studying, I wrote a bachelor thesis about <a href="projects/destinations"
				>building wayfinding systems</a
			>, designed a <a href="/projects/halo">browser built for research</a>, went to Japan and
			developed an award winning
			<a href="/projects/aral-sea">interactive exhibit</a>.
		</p>
	</main>

	<section class="">
		<CollectionList title="Noteworthy" entries={featured} />
		<CollectionList title="Work" entries={allEntries} />
		<CollectionList title="University Projects" entries={university} />
		<CollectionList title="Posts" entries={articleEntries} />
	</section>
</Layout>
<style lang="scss">
	@import '../styles/_vars.scss';
	main {
		grid-column: span 6;
		margin-top: 128px;
	}
	section {
		grid-column: 1/-1;
		margin-top: 128px;
	}

	@media (max-width: $screen-lg) {
		main {
			grid-column: 1/-1;
		}
	}
	@media (max-width: $screen-md) {
		main {
			margin-top: 64px;
		}

		section {
			margin-top: 64px;
		}
	}
</style>
