---
import { SITE } from '@config';

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import CollectionList from '@components/CollectionList.astro';

const articleEntries = await getCollection('articles', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});
const projectEntries = await getCollection('projects', ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let allEntries = [...projectEntries, ...articleEntries];

let featured = allEntries.filter((elem) => {
	return elem.data.featured.includes('noteworthy');
});

let work = allEntries.filter((elem) => {
	return elem.data.tags.includes('work');
});

let university = projectEntries.filter((elem) => {
	return elem.data.tags.includes('university project');
});

let articles = articleEntries;
---

<Layout pageTitle={SITE.title} pageDescr={SITE.desc}>
	<div class="index-page color-text">
		<main class="hero--section color-text-low-contrast text text-large">
			<div class="hero--section-content-wrapper">
				<h1 class="">
					<span class="color-text">Hi, I'm Kai Magnus Müller.</span>
				</h1>
				<p>
					A UX/UI designer at <a href="https://www.kaiser-x.com">Kaiser X Labs</a>, working on applications
					for investment and finance. I teach Interactive Communications Systems at <a
						href="https://www.hfg-gmuend.de">HfG Schwäbisch Gmünd</a
					>
					and developed Figma plugins like <a
						href="https://www.figma.com/community/plugin/1229905434435887252/">Tree Navigator</a
					> and <a href="https://www.figma.com/community/plugin/1289313190495880345">Icon Library Manager</a>.
				</p>
				<p>
					While studying, I wrote a bachelor thesis about <a href="projects/destinations"
						>building wayfinding systems</a
					>, designed a <a href="/projects/halo">browser built for research</a>, went to Japan and developed
					an <a href="/projects/aralsea">interactive exhibit</a>.
					<!-- An extended version of it made it to the <a
                    >. An extended version of it made it to the <a
                        href="https://www.uebersee-museum.de/ausstellungen/sonderausstellungen/vorschau/100-prozent-baumwolle/"
                        >Überseemuseum Bremen</a
                    >. -->
				</p>
				<!-- <p>
                    Right now I am working on <a href="https://www.intersections.de">Intersections</a>, a research lab
                    focusing on tools for reflection, thinking and creativity.
                </p> -->
			</div>
		</main>

		<!-- <aside class="quick-links"> -->
		<!-- <a href="/project-timeline">
				<div class="link-card text-regular">
					<h2>Project Timeline Visualization</h2>
					<p class="color-text-low-contrast">A visual timeline of my past and current projects</p>
				</div>
			</a> -->
		<!-- <a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a> -->
		<!-- <a href="https://www.figma.com/community/plugin/1229905434435887252/">
				<div class="link-card text-regular">
					<h2>Tree Navigator</h2>
					<p class="color-text-low-contrast">Download for Figma</p>
				</div>
			</a> -->
		<!-- </aside> -->

		<section>
			<!-- Featured means noteworthy -->
			<CollectionList title="Highlights" ariaDetails="Noteworthy projects and articles" entries={featured} />
			<!-- WORK -->
			<!-- <div class="insert-text color-text-low-contrast">
				<p class="">
					During my work at Syncier and Kaiser X Labs, I worked on a number of investment management
					applications for <a href="https://www.idsdata.com/solutions/de/esg/">IDS</a> as designer and design lead
					and was part of an in-house innovation lab.
				</p>
				<p>
					I also love to tinker, improve my workflow and make my MacBook work for me. Some of the results even
					made it here:
				</p>
			</div> -->
			<CollectionList title="Professional Work" ariaDetails="Professional projects" entries={work} />
			<!-- UNIVERSITY -->
			<!-- <p class="insert-text color-text-low-contrast">
				While studying, I wrote a bachelor thesis about <a href="projects/destinations"
					>building wayfinding systems</a
				>, designed a <a href="/projects/halo">browser built for research</a>, went to Japan and developed an <a
					href="/projects/aralsea">interactive exhibit</a
				>. An extended version of it made it to the <a
					href="https://www.uebersee-museum.de/ausstellungen/sonderausstellungen/vorschau/100-prozent-baumwolle/"
					>Überseemuseum Bremen</a
				>.
			</p> -->
			<CollectionList title="University Projects" entries={university} />
			<!-- POSTS -->
			<!-- <p class="insert-text color-text-low-contrast">Sometimes I write about what's on my mind. Sometimes…</p> -->
			<CollectionList title="Writing" entries={articles} />
		</section>
	</div>
</Layout>
<style lang="scss">
	@import '../styles/_vars.scss';

	main {
		max-width: 50ch;
		padding-top: clamp(4rem, 14vh, 8rem);
	}

	.insert-text p,
	.insert-text {
		max-width: 46ch;
		margin-block-start: 0.5rem;
		margin-block-end: 0.5rem;
	}

	section {
		margin-top: 6rem;
		// display: grid;
		// gap: 2rem;
		// grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}

	h1 {
		margin-bottom: 0.5em;
	}

	span.highlight-star {
		position: absolute;
		transform: translate(-110%, -20%);
	}

	.quick-links {
		margin-block: 6rem;
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		a {
			text-decoration: none;

			&:hover {
				text-decoration: revert;
			}
		}
	}

	.link-card {
		height: 100%;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		// justify-content: space-between;

		border: 1px solid var(--color-card-border);
		background: var(--color-card-background);
		box-shadow: var(--card-shadow);
		h2 {
			margin: 0;
		}
	}

	@media (max-width: $screen-lg) {
		main {
			grid-column: 1/-1;
		}
	}
	@media (max-width: $screen-md) {
		section {
			margin-top: 0;
		}
	}

	@media (max-width: $screen-md) {
		main {
			min-height: 100svh;
			display: flex;
			flex-direction: column;
			justify-content: end;
			padding-bottom: clamp(1rem, 4vw, 10rem);
		}
	}
</style>
