---
import { SITE } from '@config';

import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import CollectionList from '@components/CollectionList.astro';

const articleEntries = await getCollection('articles', ({ data }) => {
	return data.draft === false;
});
const projectEntries = await getCollection('projects', ({ data }) => {
	return data.draft === false;
});

let allEntries = [...projectEntries, ...articleEntries];

let featured = allEntries.filter((elem) => {
	return elem.data.tags.includes('featured');
});

let work = allEntries.filter((elem) => {
	return elem.data.tags.includes('work');
});

let university = projectEntries.filter((elem) => {
	return elem.data.tags.includes('university project');
});

let articles = articleEntries;
---

<Layout pageTitle={SITE.title} pageDescr={SITE.desc}>
	<div class="grid--main index-page color-text">
		<main class="hero--section color-text-low-contrast text text-large">
			<h1 class="">
				<span class="color-text">Hi, I'm Kai Magnus.</span>
			</h1>
			<p>
				A UX/UI designer at <a href="https://www.kaiser-x.com">Kaiser X Labs</a>, working on new products and
				opportunities for the insurance space. Aside from that, I teach 'Interactive Communications Systems' at <a
					href="https://www.hfg-gmuend.de">HfG Schwäbisch Gmünd</a
				>.
			</p>
			<p>
				While studying, I wrote a bachelor thesis about <a href="projects/destinations"
					>building wayfinding systems</a
				>, designed a <a href="/projects/halo">browser built for research</a>, went to Japan and developed an
				award winning
				<a href="/projects/aralsea">interactive exhibit</a>.
			</p>
		</main>
		<section>
			<CollectionList title="Noteworthy" ariaDetails="Noteworthy projects and articles" entries={featured} />
			<CollectionList title="Work" ariaDetails="Professional projects" entries={} />
			<CollectionList title="University Projects" entries={university} />
			<CollectionList title="Posts" entries={articles} />
			<p class="position--relative">
				<span class="highlight-star" title="">*</span>These are definitely worth a visit!
			</p>
		</section>
	</div>
</Layout>
<style lang="scss">
	@import '../styles/_vars.scss';

	.grid--main {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 0 20px;
		margin: auto;
	}

	main {
		grid-column: span 8;
		margin-top: 8rem;
	}
	section {
		grid-column: 1/-1;
		margin-top: 8rem;
	}

	h1 {
		margin-bottom: 0.5em;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	span.highlight-star {
		position: absolute;
		transform: translate(-110%, -20%);
	}

	@media (max-width: $screen-lg) {
		main {
			grid-column: 1/-1;
		}
	}
	@media (max-width: $screen-md) {
		main {
			margin-top: 64px;
		}

		section {
			margin-top: 64px;
		}
	}
</style>
