---
import type { CollectionEntry } from 'astro:content';

export interface Props {
	title: string;
	entries: CollectionEntry<any>[];
	ariaDetails?: string;
}
const { title, entries, ariaDetails } = Astro.props;

function sort(entries: CollectionEntry<any>[]) {
	return entries.sort(
		(a, b) =>
			Math.floor(new Date(b.data.pubDatetime).getTime() / 1000) -
			Math.floor(new Date(a.data.pubDatetime).getTime() / 1000)
	);
}
---

{
	// check if entries is empty, only display list if there are entries
	entries && entries.length > 0 && (
		<div class="post-list text-regular">
			<h2 class="color-text-low-contrast">{title}</h2>
			<ul>
				{sort(entries).map((entry) => (
					<li>
						<a
							class={
								entry.data.highlight
									? 'highlight text-regular position--relative'
									: 'text-regular position--relative'
							}
							href={`/${entry.collection}/${entry.slug}`}
							aria-label={entry.data.description}>
							{entry.data.title}
							{entry.data.highlight && (
								<span
									class="highlight-star highlight-star-position"
									title="This project is worth checking out!">
									*
								</span>
							)}
						</a>
					</li>
				))}
			</ul>
		</div>
	)
}

<style lang="scss">
	@import '../styles/_vars.scss';

	.post-list {
		margin-bottom: 4rem;
		// line-height: 22px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	h2 {
		margin: 3px 0;
	}

	li {
		margin: 0.125rem 0;
	}

	span:hover {
	}

	a {
		text-decoration: none;
		display: inline-block;

		&:hover {
			text-decoration: revert;
		}
	}

	@media (pointer: coarse) {
		a {
			line-height: 2rem;
		}
	}
</style>
