---
export const prerender = true;
import '@styles/resets.scss';
import '@styles/styles.scss';
import '@fontsource/libre-baskerville/400.css';
import '@fontsource/libre-baskerville/700.css';

import { SITE } from '@config';
export interface Props {
	pageTitle: string;
	pageDescr: string;
	ogImage: string;
}

const { pageTitle = SITE.title, pageDescr = SITE.desc, ogImage } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<meta name="description" content={pageDescr} />
		<meta name="author" content={SITE.author} />
		<meta name="color-scheme" content="light dark" />
		<meta name="generator" content={Astro.generator} />

		{ogImage !== undefined && ogImage !== '' && <meta property="og:image" content={ogImage} />}

		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
		<footer class="color-text-low-contrast">
			<ul class="list--horizontal">
				<li><a href="https://www.figma.com/@kaimagnus">Figma</a></li>
				<li><a href="https://github.com/kaimagnusmueller">GitHub</a></li>
				<li><a href="./rss.xml">RSS</a><sup>beta</sup></li>
				<li><a href="https://www.threads.net/@ofcoursekai">Threads</a></li>
				<li><a href="https://www.linkedin.com/in/kai-magnus-m%C3%BCller-25a176207/">LinkedIn</a></li>
			</ul>

			<span>Kai Magnus Müller – <time>{new Date().getFullYear()}</time></span>
		</footer>
		<style lang="scss" is:global>
			@import '../styles/_vars.scss';

			html {
				background: var(--color-background);
				padding-inline: clamp(1rem, 10vw, 10rem);
			}
			body {
				max-width: $screen-lg;
				position: relative;
				margin: auto;
			}

			footer {
				display: flex;
				gap: 0.6rem 2rem;
				flex-wrap: wrap;
				align-items: baseline;
				margin: 8rem 0 2rem;
			}

			@media (max-width: $screen-md) {
				html {
					padding-inline: clamp(1rem, 4vw, 10rem);
				}
			}

			@media (max-width: $screen-sm) {
				footer {
					margin: 6rem 0 2rem;
				}
			}

			@media (pointer: coarse) {
				footer a {
					line-height: 1.8em;
					display: inline-block;
				}
			}
		</style>
	</body>
</html>
