---
import { SITE } from '@config';
import Layout from './Layout.astro';
import { getCollection } from 'astro:content';

export interface Props {
	navTitle: string;
	pageTitle: string;
	collectionName: 'articles' | 'work' | 'projects';
}

const { navTitle, pageTitle, collectionName } = Astro.props;

const entries = await getCollection(collectionName, ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let entriesSorted = entries.sort((a, b) => b.data.datePublished.getTime() - a.data.datePublished.getTime());
---

<nav class="color-text-low-contrast">
	<a href="/">Home</a> / <span>{navTitle}</span>
</nav>
<main class="list-page color-text">
	<div>
		<h1 class="text-huge-h1">{pageTitle}</h1>
		<!-- <p class="insert-text color-text-low-contrast">Sometimes I write about what's on my mind. Sometimes…</p> -->
	</div>
	<ul>
		{
			entriesSorted.map((elem) => (
				<li>
					<a href={`/${elem.collection}/${elem.slug}`}>
						<p>{elem.data.title}</p>
						<span>
							{elem.data.datePublished.toLocaleDateString('en-US', { dateStyle: 'long' }).toString()}
						</span>
					</a>
				</li>
			))
		}
	</ul>
</main>
<style lang="css">
	nav {
		display: flex;
		gap: 1rem;
		margin: 2rem 0 0;

		a,
		span {
			text-transform: capitalize;
		}

		@media (max-width: 768px) {
			margin: 1rem 0 0;
		}
	}
</style>

<style lang="css">
	h1 {
		margin-top: 8rem;
		margin-bottom: 3rem;
	}

	@media (max-width: 768px) {
		h1 {
			margin-top: 4rem;
			margin-bottom: 2rem;
		}
	}

	li {
		display: block;
		margin-block: 1.25rem;

		p {
			font-size: var(--font-size-large);
		}
		/* Potentially add class="text-large" to the p in list item. Makes the title a bit smaller for small screens. */

		span {
			color: var(--text-color-low-contrast);
		}
	}

	.list-page a {
		display: block;
		width: fit-content;
		text-decoration: none;

		&:hover {
			text-decoration: revert;
		}
	}

	ul {
		margin-block: 2rem;
		padding: 0;
	}
</style>
