---
import { SITE } from '@config';
import Layout from './Layout.astro';
import { getCollection } from 'astro:content';

export interface Props {
	navTitle: string;
	pageTitle: string;
	collectionName: 'articles' | 'work' | 'projects';
}

const { navTitle, pageTitle, collectionName } = Astro.props;

const entries = await getCollection(collectionName, ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let entriesSorted = entries.sort((a, b) => b.data.datePublished.getTime() - a.data.datePublished.getTime());
---

<nav class="color-text-low-contrast">
	<a href="/">Home</a> / <span>{navTitle}</span>
</nav>
<main class="list-page color-text">
	<div>
		<h1 class="text-huge-h1">{pageTitle}</h1>
		<!-- <p class="insert-text color-text-low-contrast">Sometimes I write about what's on my mind. Sometimes…</p> -->
	</div>
	<ul>
		{
			entriesSorted.map((elem) => (
				<li>
					<a href={`/${elem.collection}/${elem.slug}`}>
						{elem.data.title}
						<span>
							{elem.data.datePublished.toLocaleDateString('en-US', { dateStyle: 'long' }).toString()}
						</span>
					</a>
				</li>
			))
		}
	</ul>
</main>

<style lang="scss">
	@import '../styles/_vars.scss';
	li {
		margin-block: 1.25rem;
		display: block;

		span {
			// font-size: 0.875rem;
			color: var(--color-text-low-contrast);
		}
	}

	.list-page a {
		text-decoration: none;
		display: flex;
		justify-content: space-between;
		flex: 1 1 0;

		@media (max-width: $screen-sm) {
			flex-direction: column;
		}

		&:hover {
			text-decoration: revert;
		}
	}

	ul {
		margin-block: 2rem;
		padding: 0;
	}
</style>
