---
import { SITE } from '@config';
import Layout from './Layout.astro';
import Navigation from '@components/Navigation.astro';
import { getCollection } from 'astro:content';

export interface Props {
	navTitle: string;
	pageTitle: string;
	collectionName: 'articles' | 'work' | 'projects';
}

const { navTitle, pageTitle, collectionName } = Astro.props;

const entries = await getCollection(collectionName, ({ data }) => {
	return import.meta.env.PROD ? data.draft !== true : true;
});

let entriesSorted = entries.sort((a, b) => b.data.datePublished.getTime() - a.data.datePublished.getTime());

// Build breadcrumbs array
const breadcrumbs = [{ href: '/', label: 'Kai Magnus' }, { label: navTitle }];
---

<Navigation {breadcrumbs} />
<main class="list-page color-text">
	<div>
		<h1 class="text-huge-h1">{pageTitle}</h1>
		<!-- <p class="insert-text color-text-low-contrast">Sometimes I write about what's on my mind. Sometimes…</p> -->
	</div>
	<ul>
		{
			entriesSorted.map((elem) => (
				<li>
					<a href={`/${elem.collection}/${elem.slug}`}>
						<p>{elem.data.title}</p>
						<span>
							{elem.data.datePublished.toLocaleDateString('en-US', { dateStyle: 'long' }).toString()}
						</span>
					</a>
				</li>
			))
		}
	</ul>
</main>
<style lang="css">
	/* Page Layout */
	h1 {
		margin-top: 8rem;
		margin-bottom: 3rem;
	}

	ul {
		margin-block: 2rem;
		padding: 0;
	}

	/* List Items */
	li {
		display: block;
		margin-block: 1.25rem;
	}

	li p {
		font-size: var(--font-size-large);
	}

	li span {
		color: var(--text-color-low-contrast);
	}

	/* Links */
	.list-page a {
		display: block;
		width: fit-content;
		text-decoration: none;
	}

	.list-page a:hover {
		text-decoration: revert;
	}

	/* Mobile Responsive */
	@media (max-width: 768px) {
		h1 {
			margin-top: 4rem;
			margin-bottom: 2rem;
		}
	}
</style>
